<header class="header">
  <h1 class="header__heading">CareBnB</h1>
  <section class="section__questionnaire">
    <h3 class="questionnaire__text">Home Seeker: Tell us about yourself so we can find the perfect match </h3>
  </section>
</header>
