<header class="header">
  <h1 class="header__heading">CareBnB</h1>
  <section class="section__questionnaire">
    <h3 class="questionnaire__text">Home Seeker: Browse to  nd your perfect matches </h3>
  </section>
</header>
