<header class="header">
  <h1 class="header__heading">CareBnB</h1>
  <section class="header__account">
    <h3 class="account__action">Sign up</h3>
    <h3 class="account__action">Log in</h3>
  </section>
</header>
