<section class="section__housingoptions">
  <a href='/owner'class="article__housingoptions">
    <article >
      <h2 class="housingoptions__title">Home Owner</h1>
        <p class="housingoptions__text">Are you a person who need some help at home and has a spare room to offer?</p>
    </article>
  </a>
  <a href='/seeker1' class="article__housingoptions">
    <article >
      <h2 class="housingoptions__title">Home Seeker</h1>
      <p class="housingoptions__text">Are you a person looking for affordable accommodation and willing to help at least 10 hours per week in return for that?
    </article>
  </a>
</section>
