<section class="section__information">
  <article class="article__information">
    <p class="information__text">
      CareBnB is a programme that matches people who want help or support around the house with people who need accomodation and are willing to help.
    </p>
  </article>
</section>
