<form method="post" action="results"class="questionnaire__form">

  <section class="questionnaire__section">
    <h3 class="questionnaire__current">2</h3>
    <h3 class="questionnaire__total">/2</h3>
  </section>

  <article class="questionnaire__article">
  <span>I am looking for a room within<select class="questionnaire_select" name="distance" required>
    <option value="" disabled selected>number</option>
    <option value=5>5</option>
    <option value=10>10</option>
    <option value=15>15+</option>
  </select>miles</span>

  <span>from this postcode<input name="postcode" class="questionnaire__input" type="text" required/></span>
</article>

<button class="questionnaire__button" type="submit" formaction="/seeker_step1" formmethod="get">Go Back</button>
<input class="questionnaire__button" type="submit" value="Search">

</form>
