<form class="questionnaire__form">

  <section class="questionnaire__section">
    <h3 class="questionnaire__current">1</h3>
    <h3 class="questionnaire__total">/2</h3>
  </section>

  <article class="questionnaire__article">
  <span>I am a<select class="questionnaire_select">
    <option value="" disabled selected>select gender</option>
    <option value="female">female</option>
    <option value="male">male</option>
  </select></span>
  <span>able to give<select class="questionnaire_select">
    <option value="" disabled selected>number</option>
    <option value=10>10</option>
    <option value=15>15</option>
    <option value=20>20</option>
  </select>hours of work</span>
</article>

<button class="questionnaire__button" type="submit" formaction="/">Go Back</button>
<button class="questionnaire__button" type="submit" formaction="/seeker2">Next Step</button>

</form>
