{{>header}}
<section class='detailedresults-images'>
  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>

  <img class="detailedresults-images__image" alt="Slider Image" height="95%"src="http://grandhomesblog.com/wp-content/uploads/2014/02/livingdining.jpg">
  <img class="detailedresults-images__image" alt="Slider Image" height="95%" src="http://cdn.media.kiwicollection.com/media/property/PR003758/xl/003758-03-grand-bedroom.jpg">
  <img class="detailedresults-images__image" alt="Slider Image" height="95%" src="http://www.atlantaluxurycommunities.com/admin/uploads/141-3157%20St%20Ives%20Country%20Club-large-008-Kitchen.jpg">

  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
  <button type="button" class="button__get-in-touch" onclick="location.href='/signup'">Get in touch</button>
</section>

<section class='detailedresults-text'>
  <article class="detailedresults-text__article">About</article>
  <article class="detailedresults-text__article">Ground Rules</article>
  <article class="detailedresults-text__article">Likes To</article>
</section>

<script src="./slider.js"></script>
