<header class="header">
  <h1 class="header__heading">CareBnB</h1>
</header>

!!!!Barb is just one step away from you

<div class="container" >
  <h2>Create a new account</h2>
  <form class="form" action="/new">

    <fieldset class="form-fieldset__first-name">
      <input type="text" id="first-name" />
      <label for="First Name">
        <span>FIRST NAME</span>
      </label>
    </fieldset>

    <fieldset class="form-fieldset__surname">
      <input type="text" id="surname" />
      <label for="Surname">
        <span>SURNAME</span>
      </label>
    </fieldset>

    <fieldset class="form-fieldse__gender">
        <label for="Gender">
        <select class="gender_select">
          <option value="" disabled selected>Select</option>
          <option value="female">female</option>
          <option value="male">male</option>
      </select>
          <span>GENDER</span>
      </label>
    </fieldset>

    <fieldset class="form-fieldset__dob">
      <input type="date" id="dob" />
      <label for="Date of Birth">
        <span> DATE OF BIRTH</span>
      </label>
    </fieldset>

    <fieldset class="form-fieldset__hours-available">
      <input type="text" id="hours-available" />
      <label for="Hours Available">
        <span>HOURS AVAILABLE</span>
      </label>
    </fieldset>

    <fieldset class="form-fieldset__occupation">
      <input type="text" id="occupation" />
      <label for="Occupation">
        <span>OCCUPATION</span>
      </label>
    </fieldset>

    <fieldset class="form-fieldset__children">
      <input type="text" id="children" />
      <label for="Children">
        <span>CHILDREN</span>
      </label>
    </fieldset>

    <fieldset class="form-fieldse__smoker">
        <label for="Smoker">
        <select class="smoker_select">
          <option value="" disabled selected>Select</option>
          <option value="yes">yes</option>
          <option value="no">no</option>
      </select>
          <span>SMOKER</span>
      </label>
    </fieldset>

    <fieldset class="form-fieldset__pets">
      <input type="text" id="pets" />
      <label for="Pets">
        <span>PETS</span>
      </label>
    </fieldset>

    <fieldset class="upload__ID">
      <input id="upload-id" type="file" class="upload" />
      <label for="Upload your ID">
        <span>UPLOAD ID</span>
      </label>
  </fieldset>

    <fieldset class="upload__DBS">
    <input id="upload-dbs" type="file" class="upload" />
    <label for="Upload your DBS">
      <span>UPLOAD DBS (if available)</span>
    </label>
  </fieldset>

    <div class="form-footer">
      <input type="submit" class="btn" value="Create Account" />
    </div>
  </form>
</div>
