{{>header_results}}
<section id="map"></section>
{{>aside_results}}


<script src="./app.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3QdlWFEoGQ2rZ3udb0z3_CXqlWOk4vVE&callback=createMap">
</script>
