{{>header_results}}
<h3>My Google Maps Demo</h3>
<div id="map"></div>


<script src="./app.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3QdlWFEoGQ2rZ3udb0z3_CXqlWOk4vVE&callback=initMap">
</script>
