{{>header}}
<section class="signup-options">
  <h3 class="signup-options__text">Before we facilitate a meeting between you and Alistair, please sign in or create an account:</h3>
    <a href='/facebookLogin' class="signup-options__button"><img  src="./assets/facebook_login2.png" class="signup-options__button--image"/></a>
    <a href='/googlelogin' class="signup-options__button">
    <img class="signup-options__button--image" src="./assets/google_login.png"/></a>
    <a href='/emaillogin' class="signup-options__button">
    <img class="signup-options__button--image" src="./assets/email_login.png"></a>
</section>
