html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.header__heading{
  padding: 1rem;
}

.header__account{
  display: flex;
}

.account__action{
  padding: 1rem;
}

.section__information{
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.section__housingoptions{
  margin-top: 8em;
  display: flex;
  justify-content: space-around;
}

.housingoptions__title{
  font-size: 2rem;
  text-align: center;
}

.housingoptions__text{
  font-size: 1.5rem;
  text-align: center;
}

.article__housingoptions{
  align-items: center;
  border: 2px solid black;
  border-radius: 2rem;
  max-width: 30%;
  text-decoration: none;
  color: black;
}

.article__housingoptions:hover{
  transform: scale(1.1);
  background-color:rgba(255, 64, 0, 0.7);
  transition: 0.5s ease-in-out;
}

.section__homevideo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.home__video{
  border: 2px solid rgba(255, 64, 0, 0.7);
  width: 80%;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
