html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.header__heading{
  padding: 1rem;
}

.header__account{
  display: flex;
}

.account__action{
  padding: 1rem;
}

.section__information{
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
